:root {
    --main-color: rgb(0, 119, 255);
    --background-color: #e5e5e9;
    --box-padding: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #edf0f2;

}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

/* global */

.main-head {
    padding: 20px;
    margin-bottom: 10px;
}

.main-head h1 {
    position: relative;
    width: fit-content;
    padding-bottom: 15px;
}

.main-head h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
}

.main-head h1::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    z-index: 1;
}

a {
    text-decoration: none;
    color: black;
}

.checkbox {
    display: none;
    appearance: none;
}

.toggle {
    position: relative;
    padding: 13px 45px;
    background-color: rgb(229 229 229);
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
    width: 0;
}

@media (max-width: 768px) {
    .toggle {
        padding: 14px 25px;
    }
}

.toggle::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
    font-weight: 900;
    position: absolute;
    background-color: white;
    color: #868686;
    width: 23px;
    height: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transform-origin: top;
    transition: 0.3s;
}

.checkbox:checked+.toggle {
    background-color: var(--main-color);
}

.checkbox:checked+.toggle::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    position: absolute;
    background-color: white;
    color: black;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 70%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    rotate: 360deg;
    transform-origin: top;
}

@media (max-width: 768px) {
    .checkbox:checked+.toggle::before {
        left: 45%;
    }
}

/* global! */

.page {
    display: flex;
    min-height: 100vh;
}

/* aside */

aside {
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    width: fit-content;
    box-shadow: -1px 0px 6px 1px #c8c8c8;
    background-color: white;
    z-index: 1;
}

aside .side-header h3 {
    position: relative;
    margin: 20px;
    padding: 0px 0px 20px;
    text-align: center;
}

aside .side-header h3::after {
    content: "";
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: black;
    bottom: 0;
    left: 20%;
}

aside .side-header h3::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    transform: translate(-50%, 45%);
    z-index: 1;
}

@media (max-width: 768px) {
    aside .side-header h3 {
        position: relative;
        margin: 10px 0px 5px 10px;
        padding: 0;
        text-align: left;
        font-size: 13px;
    }

    aside .side-header h3::after,
    aside .side-header h3::before {
        display: none;
    }
}

aside .side-links i {
    margin-right: 10px;
}

aside .side-links a {
    display: block;
    margin: 10px 20px;
    padding: 10px 15px 10px 7px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    min-width: 160px;
    transition: 0.4s;
}

aside .side-links a:active {
    background-color: #c8c8c8;
}

@media (max-width: 768px) {
    aside .side-links a span {
        display: none;
    }

    aside .side-links a {
        margin: 0px;
        padding: 10px;
        font-size: 15px;
        min-width: 60px;
        transition: 0.4s;
        text-align: center;
    }

    aside .side-links i {
        margin-right: 0;
    }
}

aside .side-links a:hover {
    background-color: rgb(230, 230, 230);
}

aside .side-links .active {
    background-color: rgb(230, 230, 230);
}

/* aside! */


/* content */

/* header */

.content {
    width: 84%;
    flex: 1;
}

.content header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    align-items: flex-start;
}

.content header form {
    position: relative;
}

.content header form i {
    position: absolute;
    left: 10px;
    top: 12px;
    color: #c6c6c6;
}

.content header form input {
    padding: 11px 0px 11px 33px;
    border-radius: 10px;
    border: 1px solid #c6c6c6;
    width: 150px;
    transition: 0.4s;
}

.content header form input:focus {
    outline: none;
    width: 200px;
}

.content header form input:focus::placeholder {
    color: white;
}

.content header .header-icon {
    display: flex;
    align-items: center;
}

.content header .header-icon i {
    position: relative;
    font-size: 22px;
    margin-right: 15px;
}

.content header .header-icon i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    top: -5px;
    right: -5px;
}

.content header .header-icon img {
    width: 30px;
}

/* header! */
/* course */

.course {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
    gap: 20px;
    padding: 0px 20px;
}

@media (max-width: 768px) {
    .course {
        grid-template-columns: 1fr;
    }
}

.course-box {
    margin-bottom: 20px;
    background-color: white;
    border-radius: 15px;
}

.course-box:last-of-type,
.course-box:nth-last-of-type(2) {
    margin-bottom: 20px;
    background-color: white;
    border-radius: 15px;
}

.course-box .course-box-header {
    margin-bottom: 20px;
}

.course-box .course-box-header h2 {
    margin-bottom: 10px;
}

.image {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.image img {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 65px;
    border-radius: 50%;
    border: 2px solid white;
}

.button {
    text-align: center;
    padding-bottom: 10px;
}

.button button {
    background-color: var(--main-color);
    color: white;
    padding: 3px 8px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 15px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 14px;
    border-top: 1px solid gainsboro;
}

/* course! */

/* content! */