:root {
    --main-color: rgb(0, 119, 255);
    --background-color: #e5e5e9;
    --box-padding: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #edf0f2;

}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

/* global */

.main-head {
    padding: 20px;
    margin-bottom: 10px;
}

.main-head h1 {
    position: relative;
    width: fit-content;
    padding-bottom: 15px;
}

.main-head h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
}

.main-head h1::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    z-index: 1;
}

a {
    text-decoration: none;
    color: black;
}

/* global! */

.page {
    display: flex;
    min-height: 100vh;
}

/* aside */

aside {
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    width: fit-content;
    box-shadow: -1px 0px 6px 1px #c8c8c8;
    background-color: white;
    z-index: 1;
}

aside .side-header h3 {
    position: relative;
    margin: 20px;
    padding: 0px 0px 20px;
    text-align: center;
}

aside .side-header h3::after {
    content: "";
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: black;
    bottom: 0;
    left: 20%;
}

aside .side-header h3::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    transform: translate(-50%, 45%);
    z-index: 1;
}

@media (max-width: 768px) {
    aside .side-header h3 {
        position: relative;
        margin: 10px 0px 5px 10px;
        padding: 0;
        text-align: left;
        font-size: 13px;
    }

    aside .side-header h3::after,
    aside .side-header h3::before {
        display: none;
    }
}

aside .side-links i {
    margin-right: 10px;
}

aside .side-links a {
    display: block;
    margin: 10px 20px;
    padding: 10px 15px 10px 7px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    min-width: 160px;
    transition: 0.4s;
}

@media (max-width: 768px) {
    aside .side-links a span {
        display: none;
    }

    aside .side-links a {
        margin: 0px;
        padding: 10px;
        font-size: 15px;
        min-width: 60px;
        transition: 0.4s;
        text-align: center;
    }

    aside .side-links i {
        margin-right: 0;
    }
}

aside .side-links a:hover {
    background-color: rgb(230, 230, 230);
}

aside .side-links .active {
    background-color: rgb(230, 230, 230);
}

/* aside! */


/* content */

/* header */

.content {
    width: 84%;
    flex: 1;
}

.content header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    align-items: flex-start;
}

.content header form {
    position: relative;
}

.content header form i {
    position: absolute;
    left: 10px;
    top: 12px;
    color: #c6c6c6;
}

.content header form input {
    padding: 11px 0px 11px 33px;
    border-radius: 10px;
    border: 1px solid #c6c6c6;
    width: 150px;
    transition: 0.4s;
}

.content header form input:focus {
    outline: none;
    width: 200px;
}

.content header form input:focus::placeholder {
    color: white;
}

.content header .header-icon {
    display: flex;
    align-items: center;
}

.content header .header-icon i {
    position: relative;
    font-size: 22px;
    margin-right: 15px;
}

.content header .header-icon i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    top: -5px;
    right: -5px;
}

.content header .header-icon img {
    width: 30px;
}

/* header! */

/* content! */

/* dashboard */
/* welcome */

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
    gap: 25px;
    padding: 0px 20px;
}

@media (max-width: 768px) {
    .dashboard {
        grid-template-columns: 100%;
    }
}

.dashboard .dashboard-welcome-box {
    border-radius: 15px;
    overflow: hidden;
}

.dashboard .dashboard-welcome-box .welcome-image {
    position: relative;
    background-image: url(../css/Dashboard_files/welcome.png);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 50%;
    background-size: 200px;
    padding: 20px;
    background-color: #e5e5e9;
    height: 150px;
}

.dashboard .dashboard-welcome-box .welcome-image h2 {
    margin-bottom: 10px;
}

.dashboard .dashboard-welcome-box .welcome-image p {}

.dashboard .dashboard-welcome-box .welcome-image img {
    width: 60px;
    position: absolute;
    bottom: -30px;
    left: 30px;
    border: 4px solid white;
    border-radius: 50%;
}

.dashboard .dashboard-welcome-box .welcome-data {
    background-color: white;
}

.dashboard .dashboard-welcome-box .welcome-data .welcome-text {
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0px 10px;
    background-color: white;
}

.dashboard .dashboard-welcome-box .welcome-data-text {
    flex-basis: 100%;
    text-align: center;
    line-height: 1.8;
    padding: 16px 10px;
    border-top: 1px solid rgb(225, 225, 225);
    border-bottom: 1px solid rgb(225, 225, 225);
}

.dashboard .dashboard-welcome-box .welcome-button {
    padding-bottom: 90px;
    padding-left: 20px;
    position: relative;
}

.dashboard .dashboard-welcome-box .welcome-data button {
    display: block;
    margin-top: 10px;
    position: absolute;
    right: 10px;
    border: none;
}

.dashboard .dashboard-welcome-box .welcome-data button a {
    display: block;
    padding: 5px 18px;
    border-radius: 6px;
    background-color: var(--main-color);
    color: white;
    font-size: 15px;
}

/* welcome */

/* draft */

.draft-box {
    position: relative;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    height: 406px;
}

.draft-box h2 {
    margin-bottom: 10px;
}

.draft-box p {
    margin-bottom: 20px;
}

.draft-box textarea {
    resize: none;
    display: block;
    border: none;
    margin-bottom: 20px;
    background-color: var(--background-color);
    width: 100%;
    padding-top: 15px;
    padding-left: 10px;
    border-radius: 10px;
}

.draft-box #t2 {
    height: 50%;
}

.draft-box button {
    display: block;
    position: absolute;
    right: 20px;
    padding: 3px 15px;
    border-radius: 6px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-size: 15px;
}

/* draft! */

/* targets */

.targets-box {
    padding: 20px;
    overflow: hidden;
    border-radius: 15px;
    background-color: white;
}

.targets-box h2 {
    margin-bottom: 12px;
}

.targets-box p:first-of-type {
    margin-bottom: 20px;
}

.targets-box .targets-content .dollar {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.targets-box .targets-content .dollar i {
    padding: 27px 32px;
    font-size: 23px;
    color: var(--main-color);
    background-color: #36b0ff69;
}

.targets-box .targets-content .projects {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.targets-box .targets-content .projects i {
    padding: 27px 26px;
    font-size: 23px;
    color: rgb(255 151 0);
    background-color: #ffbe3669;
}


.targets-box .targets-content .progress {
    line-height: 0.6;
    flex-grow: 1;
    position: relative;
}

.targets-box .targets-content .progress .bar {
    position: relative;
    width: 100%;
    height: 5px;
    bottom: -15px;
    left: 0;
}

.targets-box .targets-content .progress .bar span {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
}

.targets-box .targets-content .progress .bar.p80 span::before {
    position: absolute;
    content: "80%";
    right: -18px;
    top: -43px;
    width: 40px;
    height: 20px;
    color: white;
    background-color: var(--main-color);
    padding-top: 10px;
    text-align: center;
    border-radius: 7px;
}

.targets-box .targets-content .progress .bar.p80 span::after {
    position: absolute;
    content: "";
    right: -6px;
    top: -13px;
    border: 8px solid;
    border-color: var(--main-color) transparent transparent transparent;
}

.targets-box .targets-content .progress .bar.p55 span::before {
    position: absolute;
    content: "80%";
    right: -18px;
    top: -43px;
    width: 40px;
    height: 20px;
    color: rgb(0, 0, 0);
    background-color: #ffba65;
    padding-top: 10px;
    text-align: center;
    border-radius: 7px;
}

.targets-box .targets-content .progress .bar.p55 span::after {
    position: absolute;
    content: "";
    right: -6px;
    top: -13px;
    border: 8px solid;
    border-color: #ffba65 transparent transparent transparent;
}

.targets-box .targets-content .progress .bar.p75 span::before {
    position: absolute;
    content: "80%";
    right: -18px;
    top: -43px;
    width: 40px;
    height: 20px;
    color: rgb(255, 255, 255);
    background-color: #52c4ca;
    padding-top: 10px;
    text-align: center;
    border-radius: 7px;
}

.targets-box .targets-content .progress .bar.p75 span::after {
    position: absolute;
    content: "";
    right: -6px;
    top: -13px;
    border: 8px solid;
    border-color: #52c4ca transparent transparent transparent;
}


.targets-box .targets-content .team {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.targets-box .targets-content .team i {
    padding: 27px 30px;
    font-size: 23px;
    color: rgb(0 176 255);
    background-color: #2bd07a52;
}

/* targets! */

/* tickets */

.tickets {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.tickets h2 {
    margin-bottom: 10px;
}

.tickets>p {
    margin-bottom: 20px;
}

.tickets .tickets-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.tickets .tickets-grid .tickets-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    border: 1px solid rgb(201, 201, 201);
    padding: 20px 0px;
    border-radius: 10px;
}

.tickets .tickets-grid .tickets-box i {
    font-size: 28px;
    margin-bottom: 10px;
}

.tickets .tickets-grid .tickets-box h1 {
    font-size: 27px;
    margin-bottom: 10px;
}

.tickets .tickets-grid .tickets-box p {}


/* tickets! */


/* news */

.news {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.news h2 {
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .news h2 {
        text-align: center;
    }
}

.news .news-content {
    display: grid;
    grid-template-columns: 1fr;
}

.news .news-content .news-section {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    align-items: center;
    padding: 17px 0px;
    border-bottom: 1px solid #dedede;
}

@media (max-width: 768px) {
    .news .news-content .news-section {
        flex-direction: column;
        row-gap: 15px;
        text-align: center;
    }
}

.news .news-content .news-section:last-child {
    border: none;
    padding-bottom: 0;
}

.news .news-content .news-section .news-image img {
    width: 105px;
    border-radius: 10px;
}

.news .news-content .news-section .news-text {
    flex-grow: 2;
}

.news .news-content .news-section .news-text h3 {
    margin-bottom: 10px;
    font-size: 17px;
}

.news .news-content .news-section .news-text p {
    font-size: 14px;
}

.news .news-content .news-section span {
    display: flex;
    align-items: center;
    padding: 5px 7px;
    border-radius: 7px;
    background-color: rgb(230, 230, 230);
    font-size: 13px;
}

/* news! */

/* tasks */

.tasks {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.tasks h2 {
    margin-bottom: 15px;
}

.tasks .tasks-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 75px);
}

.tasks .tasks-content .tasks-section {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    align-items: center;
    padding: 17px 0px;
    border-bottom: 1px solid #dedede;
}

.tasks .tasks-content .tasks-section:last-child {
    border: none;
    padding-bottom: 0;
}

.tasks .tasks-content .tasks-section .tasks-text {
    flex-grow: 2;
}

.tasks .tasks-content .tasks-section .tasks-text h3 {
    margin-bottom: 10px;
    font-size: 17px;
}

.tasks .tasks-content .tasks-section .tasks-text p {
    font-size: 14px;
}

/* tasks! */
/* search */

.search {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.search h2 {
    margin-bottom: 15px;
}

.search .search-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 55px);
}

.search .search-content .search-section {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    align-items: center;
    padding: 17px 0px;
}

.search .search-content .search-section:last-child {
    padding-bottom: 0;
}

.search .search-content .search-section .search-text {
    flex-grow: 2;
}

.search .search-content .search-section .search-text h3 {
    font-size: 17px;
}

.search .search-content .search-section:not(:first-child) span {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: 7px;
    background-color: rgb(230, 230, 230);
    font-size: 13px;
}

/* search! */
/* upload */

.upload {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.upload h2 {
    margin-bottom: 15px;
}

.upload .upload-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 63px);
}

.upload .upload-content .upload-section {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    align-items: center;
    padding: 17px 0px;
    border-bottom: 1px solid #dedede;
}

.upload .upload-content .upload-section:last-child {
    border: none;
    padding-bottom: 0;
}

.upload .upload-content .upload-section .upload-text {
    flex-grow: 2;
}

.upload .upload-content .upload-section img {
    width: 40px;
}

.upload .upload-content .upload-section .upload-text h3 {
    font-size: 17px;
    margin-bottom: 5px;
}

.upload .upload-content .upload-section span {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 7px;
    background-color: rgb(230, 230, 230);
    font-size: 13px;
}

/* upload! */

/* project */

.project {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.project h2 {
    margin-bottom: 20px;
}

.project .project-content {
    display: flex;
    gap: 10px;
}

.project .project-content .project-shape {
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    align-items: center;
    justify-content: center;
}

.project .project-content .project-shape div {
    position: relative;
    width: 26px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
}

.project .project-content .project-shape div:not(:last-child):before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    transition: 0.4s;
}

.project .project-content .project-shape div:nth-child(4):before {
    animation: circleflash 1.8s linear infinite;
}

@keyframes circleflash {
    1% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.project .project-content .project-shape div:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -118%;
    transform: translate(-50%, 0);
    width: 1px;
    height: 99%;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}

.project .project-content .project-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 3;
    width: 380px;
}

.project .project-content .project-image {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    opacity: 0.2;
}

@media (max-width: 768px) {
    .project .project-content .project-image {
        display: none;
    }

}

.project .project-content .project-image img {
    width: 100%;
}

/* project! */

/* reminder */

.reminder {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.reminder h2 {
    margin-bottom: 20px;
}

.reminder .reminder-content {
    display: flex;
    gap: 10px;
}

.reminder .reminder-content .reminder-shape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 27px;
    margin-right: 10px;
}

.reminder .reminder-content .reminder-shape div {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.reminder .reminder-content .reminder-shape div:first-child {
    margin-top: 5px;
}

.reminder .reminder-content .reminder-text {}

.reminder .reminder-content .reminder-text .text-box:not(:last-child) {
    margin-bottom: 20px;
    padding-left: 20px;
}

.reminder .reminder-content .reminder-text .text-box h3 {
    font-size: 17px;
    margin-bottom: 7px;
}

.reminder .reminder-content .reminder-text .text-box p {
    font-size: 14px
}

/* reminder! */
/* post */

.post {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.post h2 {
    margin-bottom: 20px;
}

.post .post-profile {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(193, 193, 193);
}

.post .post-profile img {
    width: 45px;
}

.post .post-profile .profile-name {
    line-height: 1.5;
}

.post .post-text {
    padding: 30px 0px;
    line-height: 1.8;
    border-bottom: 1px solid rgb(193, 193, 193);
}

.post .post-text h4 {
    font-weight: 200;
}

.post .post-icon {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 0px;
}

.post .post-icon .icon {
    display: flex;
    gap: 5px;
}

/* post! */
/* social */

.social {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
}

.social h2 {
    margin-bottom: 20px;
}

.social .social-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.social .social-box i {
    background-color: var(--main-color);
    font-size: 35px;
    padding: 12px 9px;
    width: 60px;
    text-align: center;
    transition: 0.5s;
}

.social .social-box:nth-of-type(1) i:hover,
.social .social-box:nth-of-type(3) i:hover {
    rotate: 10deg;
}

.social .social-box:nth-of-type(2) i:hover,
.social .social-box:nth-of-type(4) i:hover {
    rotate: -10deg;
}

.social .social-box .social-text {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 0px 20px;
    align-items: center;
}

.social .social-box .social-text a {
    padding: 5px 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 7px;
}

/* social! */

/* table */

.table {
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    max-width: 100%;
    margin: 20px;

}

.table h2 {
    margin-bottom: 20px;
}

.table .table-box {
    overflow-x: auto;
    box-shadow: 0 0 2px 1px #d7d7d7;
    border-radius: 10px;
}

.table table {
    min-width: 1000px;
    width: 100%;
    border-spacing: 0;
    border-radius: 15px;
    overflow-x: auto;
}

.table table tr {}

.table table tr th {
    background-color: gainsboro;
    text-align: left;
    padding: 20px 0px 20px 15px;
}

.table table tr td {
    text-align: left;
    padding: 20px 0px 20px 15px;
    border: 1px solid rgb(243, 243, 243);
}

.table table tr td img {
    position: absolute;
    width: 35px;
    border-radius: 50%;
    border: 3px solid white;
    left: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

/* table! */

/* dashboard! */